.error-wrapper {
  background-image: url(../assets/images/error.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 164px);
  background-position: center;
  @media (max-width: 710px) {
    height: calc(100vh - 257px);
  }
}
