.for-decor {
  background-color: $bg-light-gray;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.exercises-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  padding: 2rem;
  background-color: $bg-light-gray;
}

.mini-header-cont {
  display: flex;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 16px;
  @media (max-width: 1282px) {
    width: 30%;
  }
  @media (max-width: 980px) {
    font-size: 13px;
    width: 40%;
  }
  @media (max-width: 550px) {
    width: 60%;
    margin-bottom: 1rem;
  }
}

.mini-workouts-cont {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  z-index: 10;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.stat-wrapper {
  display: flex;
  gap: 3px;
  align-items: center;
}

.mini-cont-img {
  width: 40px;
  @media (max-width: 550px) {
    width: 25px;
  }
}

.decor-circle {
  width: 100%;
  height: 250px;
  border-radius: 30%;
  position: absolute;
  background-position: center;
  background: linear-gradient(90deg, rgba(255, 192, 203, 1) 0%, rgba(245, 237, 238, 1) 100%);
  top: -70px;
  @media (max-width: 550px) {
    height: 150px;
  }
}

.week-goal-cont {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 2rem;
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  @media (max-width: 1282px) {
    width: 60%;
  }
  @media (max-width: 980px) {
    width: 80%;
  }
  @media (max-width: 730px) {
    width: 90%;
    padding: 0.5rem;
  }

  @media (max-width: 360px) {
    width: 100%;
  }
}

.week-goal-stat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 22px;
  margin-bottom: 1rem;
  @media (max-width: 550px) {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
}

.days-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.days-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(238, 231, 231);
  font-size: 18px;
  @media (max-width: 730px) {
    width: 50px;
    height: 50px;
  }
  @media (max-width: 550px) {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
}

.check-mark {
  position: absolute;
  background-image: url('../assets/png/checkMark.png');
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff80a4;
  background-size: 30px 30px;
  @media (max-width: 730px) {
    width: 50px;
    height: 50px;
  }
  @media (max-width: 550px) {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
}
.hidden {
  display: none;
}

.exerc-block {
  width: 1550px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2rem;
  align-items: flex-start;
  @media (max-width: 1599px) {
    width: 1250px;
  }
  @media (max-width: 1282px) {
    width: 950px;
  }
  @media (max-width: 980px) {
    width: 600px;
  }
  @media (max-width: 640px) {
    width: 400px;
  }
  @media (max-width: 440px) {
    width: 300px;
  }
}

.exercises-wrapper {
  width: 100%;
  max-width: 950px;
}

.exerc-slider {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: max-content;
  transition: 0.3s;
  transition-property: transform;
  min-height: 400px;
  margin-left: -525px;
  @media (max-width: 1599px) {
    margin-left: -425px;
  }
  @media (max-width: 1282px) {
    margin-left: -325px;
    min-height: 200px;
  }
  @media (max-width: 980px) {
    margin-left: -1250px;
  }
  @media (max-width: 640px) {
    margin-left: -850px;
  }
  @media (max-width: 440px) {
    margin-left: -650px;
  }
}

.buttons-cont {
  align-self: center;
  margin-bottom: 0.5rem;
}

.blur {
  filter: blur(0px);
}

.adapt {
  @media (max-width: 1599px) {
    width: 400px;
    height: 300px;
  }
  @media (max-width: 1282px) {
    width: 300px;
    height: 250px;
  }
  @media (max-width: 980px) {
    width: 600px;
    height: 400px;
  }
  @media (max-width: 640px) {
    width: 400px;
    height: 300px;
  }
  @media (max-width: 440px) {
    width: 300px;
    height: 200px;
  }
}

.smallerImg {
  width: 465px;
  @media (max-width: 1599px) {
    width: 375px;
  }
  @media (max-width: 1282px) {
    width: 275px;
  }
  @media (max-width: 980px) {
    width: 600px;
    height: 400px;
  }
  @media (max-width: 640px) {
    width: 400px;
    height: 300px;
  }
  @media (max-width: 440px) {
    width: 300px;
    height: 200px;
  }
}

.largerPng {
  height: 400px;
}

.largerImg {
  width: 570px;
  height: 400px;
  @media (max-width: 1599px) {
    width: 450px;
    height: 350px;
  }
  @media (max-width: 1282px) {
    width: 350px;
    height: 300px;
  }
  @media (max-width: 980px) {
    width: 600px;
    height: 400px;
  }
  @media (max-width: 640px) {
    width: 400px;
    height: 300px;
  }
  @media (max-width: 440px) {
    width: 300px;
    height: 200px;
  }
}

.adaptPng {
  @media (max-width: 1599px) {
    height: 300px;
  }
  @media (max-width: 1282px) {
    height: 250px;
  }
  @media (max-width: 980px) {
    height: 400px;
  }
  @media (max-width: 640px) {
    height: 300px;
  }
  @media (max-width: 440px) {
    height: 200px;
  }
}

.largerPng {
  @media (max-width: 1599px) {
    height: 400px;
  }
  @media (max-width: 1282px) {
    height: 300px;
  }
  @media (max-width: 980px) {
    height: 400px;
  }
  @media (max-width: 640px) {
    height: 300px;
  }
  @media (max-width: 440px) {
    height: 200px;
  }
}

.workout-content-title {
  font-size: 22px;
}

.desctiption-text {
  font-size: 20px;
}

.exercises-wrapper {
  width: 100%;
}

.exercises__startNow-btn {
  display: block;
  padding: 0.8rem 1.5rem;
  border-radius: 15px;
  background: $bg-pink;
  color: $color-white;
  font-family: inherit;
  text-transform: uppercase;
  transition: $transition;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto 0;
  margin-bottom: 1rem;

  &:hover {
    background: $hover;
  }
  &:active {
    background: $active;
  }
}

.link-to-startTraining {
  display: block;
}

.days-circle-pink {
  color: $color-main;
}
