.exercise-modal__backlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.exercise-modal {
  width: 60%;
  position: relative;
  height: fit-content;
  background: $color-white;
  border-radius: 20px;
  padding: 30px;
  font-size: 1.4rem;
  color: $color-second;

  @media all and(max-width: 1000px) {
    width: 90%;
  }

  @media all and(max-width: 700px) {
    font-size: 1.2rem;
    border-radius: 12px;
  }

  @media all and(max-width: 500px) {
    font-size: 1rem;
    padding: 15px;
  }

  @media all and(max-width: 400px) {
    font-size: 0.8rem;
  }

  &__gif {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto 30px;

    @media all and(max-width: 700px) {
      width: 50%;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media all and(max-width: 700px) {
      margin-bottom: 15px;
    }
  }

  &__name {
    margin-right: 20px;
  }

  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../assets/svg/tv.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;

    @media all and(max-width: 500px) {
      width: 20px;
      height: 20px;
    }
  }

  &__description {
    font-size: 1.2rem;
    color: $color-second;
    text-align: left;
    margin-bottom: 80px;

    @media all and(max-width: 700px) {
      font-size: 1rem;
      margin-bottom: 40px;
    }

    @media all and(max-width: 500px) {
      font-size: 0.8rem;
      margin-bottom: 30px;
    }
  }

  &__change {
    width: 100%;
  }

  &__counter {
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px;

    @media all and(max-width: 700px) {
      width: 100%;
      justify-content: center;
      gap: 20px;
      margin: 0 auto 20px;
    }
  }

  &__button-minus,
  &__button-plus {
    width: 50px;
    height: 50px;
    font-size: 1.8em;
    border: none;
    background-color: $color-pink;
    color: $color-white;
    border-radius: 10px;
    cursor: pointer;
    transition: $transition;

    @media all and(max-width: 700px) {
      width: 30px;
      height: 30px;
      font-size: 1.2em;
      border-radius: 5px;
    }

    &:hover {
      background-color: $color-main;
    }
  }

  &__current-quantity {
    font-size: 1.4em;
    text-transform: uppercase;

    @media all and(max-width: 700px) {
      font-size: 1.2em;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__button-cancel,
  &__button-save {
    display: block;
    width: 180px;
    height: 45px;
    border-radius: 7px;
    background-color: $color-pink;
    color: $color-white;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: $transition;
    border: none;
    cursor: pointer;

    @media all and(max-width: 700px) {
      width: 130px;
      height: 35px;
      font-size: 1rem;
      border-radius: 5px;
    }

    @media all and(max-width: 500px) {
      width: 100px;
      height: 30px;
      font-size: 0.8rem;
    }

    &:hover {
      background-color: $color-main;
    }
  }

  &__button-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
    background: url(../assets/svg/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;

    @media all and(max-width: 700px) {
      right: 20px;
    }

    @media all and(max-width: 500px) {
      width: 20px;
      height: 20px;
      top: 10px;
      right: 15px;
    }
  }

}