@import './mixins.scss';

.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;

  &__hubs {
    padding-left: 30px;
    background: url(../assets/svg/github.svg);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      background-size: 15%;
      background-position: left top 3px;
      padding-left: 25px;
    }
  }

  &__hubs-link {
    padding-right: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #db5ba1;
    transition: $transition;

    &:hover {
      color: $color-main;
    }

    @media (max-width: 576px) {
      padding-right: 0px;
    }
  }

  &__year {
    font-size: 1.2rem;
    color: #db5ba1;
    font-weight: 600;

    @media (max-width: 576px) {
      font-size: 0.8rem;
    }
  }

  &__school {
    width: 60px;
    height: 30px;
    background: url(../assets/svg/rs-school.svg);
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 576px) {
      height: 20px;
      margin-bottom: 5px;
    }
  }
}