.intro {

    border-bottom: 5px solid $color-main;

    &__wrapper {
        max-width: 1920px;
        display: flex;
        margin: 0 auto;
    }

    &__left {
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: column;  
    }

    &__center {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-main;
        color: $color-white;
        padding: 0 30px;
    }

    &__right {
        width: 35%;
        display: flex;
        flex-direction: column;
    }

    &__text {

        text-align: center;
        font-size: 3.2rem;
        line-height: 4.2rem;
        letter-spacing: 3px;
        margin-bottom: 70px;

        @media all and (max-width: 1440px) {
            font-size: 2.4rem;
            line-height: 3.2rem;
            letter-spacing: 3px;
        }

        @media all and (max-width: 1280px) {
            font-size: 2.2rem;
            line-height: 2.8rem;
            margin-bottom: 40px;
        }

    }

    &__link {
        display: block;
        width: 190px;
        height: 50px;
        border-radius: 10px;
        background: url(../assets/svg/google_play.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}

.about {

    &__wrapper {
        max-width: 1920px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 150px 150px;
    }

    &__info {
        width: 45%;
    }

    &__title {
        color: $color-second;
        font-size: 2.8rem;
        margin-bottom: 20px;

        @media all and (max-width: 1440px) {
            font-size: 1.8rem;
        }
    }

    &__text {
        color: $color-second;
        font-size: 2.2rem;
        line-height: 2.8rem;

        @media all and (max-width: 1680px) {
            font-size: 1.8rem;
            line-height: 2.3rem;
        }

        @media all and (max-width: 1440px) {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }

    &__picture {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.features {

    &__wrapper {
        max-width: 1920px;
        margin: 0 auto;
        padding: 150px 150px;
        background: url(../assets/images/features_bg.jpg);
        background-size: cover;
        background-position: center;
    }

    &__list-item {
        position: relative;
        color: $color-white;
        font-size: 2.2rem;
        line-height: 3.2rem;
        padding-left: 30px;

        @media all and (max-width: 1440px) {
            font-size: 1.2rem;
            line-height: 2.2rem;
            padding-left: 22px;
        }

        &::before {
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 0;
            left: 0;
            content: url(../assets/svg/strength-icon.svg);

            @media all and (max-width: 1440px) {
                width: 15px;
                height: 15px;
            }
        }
    }
}