@mixin bg-text {
  background-image: linear-gradient(270deg, rgb(246, 14, 80) 0%, rgb(219, 91, 161) 100%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin btn-edit {
  min-width: 35px;
  min-height: 25px;
  padding: 2px 2px;
  font-size: 14px;
  text-transform: capitalize;
  background: $bg-pink;
  color: $color-white;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: $hover;
  }
  &:active {
    background: $active;
  }
}
