@import './mixins.scss';

.profile-page {
  position: relative;
  padding: 2rem;
  background-color: $bg-light-gray;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 950px;
    width: 100%;
    margin: 30px auto 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: $color-second;
    text-transform: capitalize;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }
}

.calendar {
  display: flex;
  justify-content: center;
}

.info {
  @media (max-width: 768px) {
    margin-top: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__content {
    font-size: 25px;
    color: $color-black;
    max-width: 500px;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 768px) {
      font-size: 20px;
      max-width: 200px;
    }
  }

  &__btn {
    @include btn-edit;
    margin-left: 10px;
  }
}

.parameters {
  &__title {
    color: $color-second;
    font-size: 18px;
  }

  &__item {
    padding: 0 20px;
  }

  &__btn {
    @include btn-edit;
  }
}
