@import './mixins.scss';

// .slider-wrapper {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
.slider-questions {
  &__list {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    gap: 30px;
  }

  &__slide {
    min-width: 100%;
  }

  &__title {
    @include bg-text;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__question {
    display: block;
    @include bg-text;
    padding-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 44px;
    padding: 5px 10px;
    border: 2px solid $color-main-second;
    color: $color-main-second;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity $transition, background $transition;

    &:hover {
      opacity: 0.6;
    }
  }
}
input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

input[type='radio']:checked + label {
  background: $bg-pink;
  color: $color-white;
  outline: 0;

  &:hover {
    opacity: 1;
    cursor: auto;
  }
}
