.training-modal__backlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; 
}

.training-modal {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: fit-content;
  background: $color-white;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.4rem;
  color: $color-second;

  @media all and(max-width: 1000px) {
    width: 100%;
  }

  &__gif {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1.6rem;
    align-items: center;
    margin-bottom: 30px;
  }

  &__extra {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__info-link,
  &__youtube {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80px;
    height: 50px;
    font-size: 1.2rem;
    color: $color-second;
  }

  &__youtube {
    background: url(../assets/svg/tv.svg);
    background-size: 30%;
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__info-link {
    background: url(../assets/svg/info.svg);
    background-size: 30%;
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__current-quantity {
    text-transform: uppercase;
    font-size: 4.2rem;
    margin-bottom: 10px;
  }

  &__button-done {
    width: 180px;
    height: 45px;
    border-radius: 7px;
    background-color: $color-pink;
    color: $color-white;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: $transition;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;

    &:hover {
      background-color: $color-main;
    }
  }

  &__buttons {
    width: 40%;
    display: flex;
    align-items: center;
  }

  &__button-prev,
  &__button-skip {
    width: 50%;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }

  &__button-prev {
    position: relative;
    background: url(../assets/svg/previous-icon.svg);
    background-position: left 5px center;
    background-repeat: no-repeat;
  }

  &__button-skip {
    background: url(../assets/svg/next-icon.svg);
    background-position: right 5px center;
    background-repeat: no-repeat;
  }
}