// color
$color-main: #f60e50;
$color-second: #11111f;
$color-lavender-blush: #feecf4;
$color-sugar-plum: #4b2738;
$color-dark-blue: #333e48;
$color-gray: #878787;
$color-black: #000;
$color-white: #fff;
$color-error: red;
$color-grey-violet: rgb(58, 57, 58);
$color-grey-light: rgb(158, 156, 158);

// background
$bg-light-gray: #efefef;
$bg-pink: linear-gradient(270deg, #f60e50 0%, #db5ba1 100%);

// another
$transition: 0.3s;
$hover: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(270deg, #f60e50 0%, #db5ba1 100%);
$active: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(270deg, #f60e50 0%, #db5ba1 100%);
