// color

$color-main: #f57eb6;
$color-second: #11111f;
$color-lavender-blush: #feecf4;
$color-sugar-plum: #4b2738;
$color-dark-blue: #333e48;
$color-gray: #878787;
$color-black: #000;
$color-white: #fff;

// background
$bg-light-gray: #efefef;

// another
$transition: 0.3s;
// $hover: #fee456c2;
// $active: #ffa811;
// $text-shadow: #fc0;
